/*************************
        VARS
*************************/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Open+Sans:300,400,600,700');
// color scheme
$primary-font: rgba(100,40,50,1);

$primary-brand: #006FFF;
$secondary-brand: #05c1b3;
$call-to-action: #FFD252;

$dark-bg: #444;
$med-bg: #777;
$light-bg: #EEE;

// typography
$sans: 'Open Sans Condensed', sans-serif;
$font-weight-light: 300;
$font-weight-reg: 400;
$font-weight-med: 600;
$font-weight-bold: 700;

$baseline: 24px;

$basesize: 16px;

