/******************************
           NAVIGATION
******************************/

header#nav {
    @include grid-row();
    position: fixed;
    z-index: 10000;
    border-bottom: 1px solid #e5e5e5;
    background-color: white;
}

nav.main-menu {
    @include container();
    position: relative;
    width: 100vw;
    height: $baseline*2;
    line-height: $baseline*2;
    overflow: hidden;
    transition: height 0.5s linear;
    z-index: 1000;
    div#nav-collapse {
        display: none;
    }
    a.brand {
        display: inline-block;
        width: 140px;
        margin-top: 4px;
        transition: all 0.5s linear;
    }
    &:hover {
        height: 160px;
        overflow: hidden;
        a.brand {
            margin-top: $baseline*2.2;
        }
    }
    ul {
        display: inline-block;
        float: right;
    }
    li {
        display: inline-block;
        width: 130px;
        text-transform: uppercase;
        font-size: 12px;
        &:nth-child(4) {
            width: 50px;
        }
        a {
            display: block;
            color: #999;
            text-decoration: none;
            transition: color 0.5s linear;
            transition: padding 0.2s linear;
            padding: 0;
            &:hover {
                color: black;
            }
        }
        ul {
            overflow: visible;
            line-height: 20px;
            li {
                display: block;
                font-size: 11px;
                white-space: nowrap;
                color: grey;
                text-transform: capitalize;
                padding: 0;
                a:hover {
                    padding-left: 3px;
                }
            }
        }
        &:hover {
            ul li {
                color: black;
            }
        }
    }
}

@media #{$breakpoint-mobile} {
    /********* Toggle Mobile Nav Icon**********/
    nav.main-menu {
        div#nav-collapse {
            float: right;
            display: block;
            width: 50px;
            cursor: pointer;
            padding-right: 20px;
            margin-top: 4px;
            .bar1,
            .bar2,
            .bar3 {
                width: 35px;
                height: 5px;
                background-color: $primary-brand;
                margin: 6px 0;
                transition: 0.4s;
                border-radius: 2px;
            }
        }
        &.open {
            .bar1 {
                -webkit-transform: rotate(-45deg) translate(-9px, 6px);
                transform: rotate(-45deg) translate(-9px, 6px);
            }
            .bar2 {
                opacity: 0;
            }
            .bar3 {
                -webkit-transform: rotate(45deg) translate(-8px, -8px);
                transform: rotate(45deg) translate(-8px, -8px);
            }
        }
    }
    /********* Expand and Contract Menu on Toggle **********/
    nav.main-menu {
        transition: all 0.5s linear;
        //kill desktop height change on hover
        &:hover {
            height: 50px;
            a.brand img {
                margin-top: 4px;
            }
        }
        // open class applied via vue
        &.open {
            height: 780px;
            overflow: hidden;
        }
        ul {
            height: 100%;
        }
        ul,
        ul li,
        ul li:last-child,
        ul li:nth-child(4) {
            width: 100%;
            display: block;
            text-align: center;
            padding: 0;
        }
        ul li a {
            font-weight: 800;
            color: black;
            font-size: 14px;
            line-height: 40px;
            background-color: $light-bg;
            &:hover {
                background-color: darken($light-bg, 10%);
            }
        }
        ul ul a {
            font-weight: 600;
            color: grey;
            font-size: 12px;
            background-color: white;
        }
        ul ul {
            border-bottom: 1px solid $light-bg;
        }
    }
}
