@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
html, body {
  margin: 0;
}

html {
  background: url(../img/bg.jpg) no-repeat center center fixed;
  background-size: cover;
}

/* Nav Bar Styles */

header {
  width: 80%;
  padding: 0 10%;
  height: 50px;
  position: fixed;
  margin-bottom: 10px;
  z-index: 10;
  background-color: grey;
  /* overflow: hidden; */
  background: url(../img/embossed-diamond.png);
}

header h1 {
  color: #333;
  display: inline-block;
  margin:0;
  padding: 0;
  font-family: 'Kaushan Script', cursive;
}

nav {
  /* This is a no no workaround! We will fix with flexbox soon! */
  float: right;
  display:inline-block;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: rgba(40,40,40,0.1);
}

nav li {
  font-family: 'Kaushan Script', cursive;
  font-size: 18px;
  height: 50px;
  line-height: 50px;
  width:120px;
  display: inline-block;
  /* text-align: center; */
}

nav a {
  text-decoration: none;
  color: #333;
  display: block;
  /* transitions are always defined at the starting loading state */
  transition: all 1s;
}

nav a:hover {
  background-color: rgba(40,40,40,0.5);
  color:white;
}

nav a.active {
  background-color: black;
  color:white;
}

/* Transforms and Transitions */
/* https://www.w3schools.com/cssref/css3_pr_transform.php */
.scaleUp {
  transform: scale(1.2);
  z-index: 100;
}

.scaleX {
  transform: scale(2, 1);
}

.scaleY {
  transform: scale(1, 2);
}

.skewX {
  transform: skewX(-20deg);
}

.skewY {
  transform: skewY(-20deg);
}

.skewBoth {
  transform: skew(10deg, 30deg);
}

.rotX {
  transform: rotateX(120deg);
}

.rotY {
  transform: rotateY(120deg);
}

.rotZ {
  transform: rotateZ(120deg);
}

.rotateLeft {
  transform: rotate(-20deg);
  transition: all 5s ease-in-out;
}

.rotateLeft:hover {
  transform: rotate(20deg);
  cursor: pointer;
}

.skewHover {
  transform: skewX(30deg);
  transition: all 5s ease;
}

.skewHover:hover {
  transform: skewY(-30deg);
}

.scaleHover {
  transform: scale(0.5);
  transition: all 5s ease-in;
}

.scaleHover:hover {
  transform: scale(1.5);
}

.colorSwap {
  filter: grayscale(100%);
  transition: all 5s ease-in;
}

.colorSwap:hover {
  filter: grayscale(0);
}







/* Container */
.container{
  width: 900px;
  margin: 0 auto;
  padding:75px;
}

/* IMG Wrapper */
.polaroid {
  position: relative;
  width: 240px;
  display: inline-block;
  margin:20px;
}

/* IMG with Border */
.polaroid img {
  width: 100%;
  height: auto;
  border: 10px solid #ccc;
  border-bottom-width: 45px;
  /* h-shadow | v-shadow | blur | spread | color */
  box-shadow: 10px 10px 10px 5px rgba(10,10,10,0.5);
}

/* Labels */
.polaroid p {
  font-family: 'Kaushan Script', cursive;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 18px;
}